<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="mycon" connectionString="Server=db.methmal.me; Database=Student; User Id=methmal; Password=9KXQonFMrMh6n6vkoiuZKSqNieZZpB83YyEqexJzh3Z7ivpQJhgmx33V7iobgPWF2EkuFQvFRu9HrQiYnJxkdKGgkeNzUjaVFv3j2DqC9a5fUagUMwvvXDpCNLmb8gEw"/>
  </connectionStrings>
</configuration>